body{
    background-color: black;
    text-align: center;
    padding: 18px 45px 45px;
    color: white;
}

canvas {
    border: 5px solid indianred;
    border-radius: 7px;
    box-shadow: 0 0 100px palevioletred;
}
